.navbar {
	background-color: #308d49;
	position: fixed;
}
.navbar li a, .navbar .navbar-brand {
	color: #ffffff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #33cc33 !important;
  background-color: #f2f2f2 !important;
}

.carousel-inner > .item > img {
	border-radius: 10px;
  min-height: 300px;
  max-height: 590px;
}

.carousel-control {
position: absolute;
margin-top: 50px;
opacity: .5;
font-size: 20px;
color: #ffffff;
text-align: center;
border-radius: 10px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none !important;
	filter: none !important;
}

#myCarousel {
	position: relative;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
  height: 100%;
}

#tgrfheader {
	position: relative;
	margin-top: 70px;
  height: 50%;
}


.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
}

/*------Quote------*/

h1 {
	position: relative;
	font-family: 'Poiret One', cursive;
	color: #4DCFE0;
	font-weight: bold;
	text-align: center; 
}

/*------VMG------*/

.vision, .mission {
  padding: 20px;
}
h2 {
  font-family: 'Poiret One', cursive;
  color: #cccc00;
  text-align: center;
  font-weight: bold;
}
.mission > p, .vision > p, .description > p {
  text-align: justify;
}

/*------Footer------*/

#footer {
    background-color: #308d49;
    color: white;
    padding: 12px 0 5px 0;
    font-size: .8em;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2.2em;
       }
    footer > p {
       font-size: .9em;
    }
}