.navbar {
	background-color: #308d49;
	position: fixed;
}
.navbar li a, .navbar .navbar-brand {
	color: #ffffff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #33cc33 !important;
  	background-color: #f2f2f2 !important;
}

/*------Graduates------*/

h1 {
	position: relative;
	font-family: 'Poiret One', cursive;
	color: #cccc00;
	font-weight: bold;
	text-align: center; 
	width: 100%; 
  	margin: 80px 0 20px; 
}

.card {
 	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.description {
	padding: 10px;
}

.description > p {
	text-align: justify;
}

h2 {
	text-transform: uppercase;
	font-size: 1.9em;
	text-align: center;
}

.photo {
	padding-top: 10px;
}

.photo > img {
	display: block;
	margin: auto;
	max-height: 250px;
}

/*-------Blockquote------*/

.container > blockquote {
	width: 800px;
}
blockquote {
	position: relative;
	margin-top: 70px;
	font-family: 'Poiret One', cursive;
	color: #4DCFE0;
	font-weight: bold;
	text-align: left;
	font-size: 1.5em;
}
footer {
	text-align: right;
}

/*------Process------*/



#process {
	border: 2px solid #e6e6e6;
	border-radius: 25px;
	margin-bottom: 20px;
}

section > h1 {
	margin-top: 20px;
}

section > p {
	text-align: justify;
}

#tgrfscholars {
    position: relative;
    max-width: 850px;
    margin-bottom: 15px;
}

#imageisko {
	width: 100%;
	margin-bottom: 15px;
}

h3 {
	color: white;
	text-transform: uppercase;
	text-align: center;
	background-color: #4DCFE0;
	border-radius: 5px;
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 10px;
	font-size: 1.3em;
	margin: 0 90px 0 90px;
}

a:link {
	text-decoration: none;
}

/*------Footer------*/

#footer {
    background-color: #308d49;
    color: white;
    padding: 12px 0 5px 0;
    font-size: .8em;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2.2em;
       }
    footer > p {
       font-size: .9em;
    }
}